.main-single {
    display: grid;
    grid-template-columns: 8% auto 8%;
    grid-template-rows: 140px auto 140px;
    justify-items: center;
}

.page {
    max-width: 1640px;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


/* (A) ENTIRE PAGE */
#cart-wrap * {
    box-sizing: border-box;
  }

  #cart-wrap {
    display: flex;
    /*flex-direction: column;*/
    margin: 0 auto;
  }

  #cart-products { flex-grow: 1; }
  input.cart, button.cart {
    height: 140px;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
  }
  
  #cart-products {
    margin: 60px;
  }
  .p-item {
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(11, 9%);
    grid-template-rows: 60px auto 60px auto 60px auto 60px auto 60px;
  }

  @media screen and (min-width: 1500px) {
      .full {
          grid-column: 2 / 11;
      }
      
      .right {
          grid-column: 7 / 11;
      }
      
      .left {
          grid-column: 2 / 6;
      }

      .first-on-page {
          grid-row: 2 / 3;
      }
  
      .second-on-page {
          grid-row: 4 / 5;
      }
  
      .third-on-page {
          grid-row: 6 / 7;
      }
  
      .fourth-on-page {
          grid-row: 8 / 9;
      }

      .img-three {
        grid-row: 2 / 7;
      }
  }

  @media screen and (max-width: 1500px) {
      .full {
          grid-column: 2 / 11;
      }
      
      .right {
          grid-column: 2 / 11;
      }
      
      .left {
          grid-column: 2 / 11;
      }

      .min-first {
          grid-row: 2 / 3;
      }
  
      .min-second {
          grid-row: 4 / 5;
      }
  
      .min-third {
          grid-row: 6 / 7;
      }
  
      .min-fourth {
          grid-row: 8 / 9;
      }
  
      .min-fifth {
          grid-row: 10 / 11;
      }
  
      .min-sixth {
          grid-row: 12 / 13;
      }
  }

  /* */
  .p-img {
    max-width: 100%;
    max-height: 500px;
  }
  .p-name, .p-price {
    text-align: center;

    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;

    color: #000000;
   }
  .p-name, .p-desc, .p-price { margin: 5px 0; }
  .p-name {
    font-size: 1.35em;
    text-transform: uppercase;
  }
  .p-desc {
    margin: 0;
    margin-top: 10px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    
    color: #000000;
  }
  .p-price { color: #000000; }
  .p-add { 
    background-image: url('../pictures/backgrounds/footer background.png');
    color: #FFFFFF;
    min-width: 100%;
  }
  
  #cart-items {
    background-image: url('../pictures/backgrounds/footer background.png');
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .c-item {
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 6% 40% 6% 40% 6%;
    grid-template-rows: 80px auto 60px auto 80px;
  }
  .c-name {
    grid-area: 2 / 2 / 3 / 5;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
  }
  .c-total, button.c-empty, button.c-checkout { 
    max-width: 100%;
    width: 90%;
    align-self: center;
  }
  .c-total, button.c-empty, button.c-checkout { margin-top: 60px; }
  .c-qty {
    grid-area: 4 / 2 / 5 / 3;
    height: 140px;
    width: 75%;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
  }
  .c-empty, .c-checkout {
    background-color: #fff;
  }

  .c-del {
    grid-area: 4 / 4 / 5 / 5;
    height: 140px;
    width: 140px;
  }
  .c-cart_empty { margin-top: 80px;}
  .c-cart_empty, .c-total {
    height: 140px;
    width: 75%;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    align-self: center;
  }
  
  @media screen and (max-width: 640px) {
    #cart-products {
      grid-template-columns: 100%;
    }
  }